
:root{
    --primary-color: #2947A9;
    --secondary-color:#F9995D;
    --background-color:#E0E3EB;
    --text-color:#292E3D;
    --color-menu:#14171F;
}

:root{
    --font-main:"Work Sans";

}
body {
  margin: 0;
  padding: 0;
}

.header{
  margin: 11px 100px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  height: 58.54px;

}

.header__home{
  color: var(--primary-color);
  font: var(--font-main);
  font-size: 21.95px;
}
.header__brand{

}
.header__brand--i{
  font-style: italic;
}
.header__brand--b{
  font-weight: 700;
}
.header__thebox{
  font: var(--font-main);
  color: var(--primary-color);
  font-size: 21.95px;
}
.header__logo{
  height: 34.76px;
  width: 27.81px;
}

.header__menu{
  list-style: none;
  display: flex;
  flex: 1;
  align-items: center;
  gap: 5rem;
}


.header__link{
  text-decoration: none;
  color: var(--color-menu);
  font-size: 13.17px;
  font: var(--font-main);

}
.header__contact{
  color: var(--secondary-color);
}
.banner{
  background-image: url('img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 615px;
  background-position: center;
  position: relative;
}
.banner__background{
  
}
.banner__content{
  font: var(--font-main);
  font-size: 52.68px;
  position: absolute;
  left: 10%;
  top: 25%;
  width: 550px;
}
.banner__content--right{
  background-color: #3559C7;
  width: 420px;
  height: 180px;
  position: absolute;
  bottom: 0;
  right: 0;
  font: var(--font-main);
  font-size: 20px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;

}
.banner__btn--group{
  display: flex;
  flex: 1;
  position: absolute;
  bottom: 0;
}
.banner__btn{
  background-color: var(--text-color);
  color: white;
  font: var(--font-main);
  font-size: 13.17px;
  padding: 2px 14px;
  text-align: center;
  border: none;
  width: 210px;
  height: 29px;
}
.banner__btn:hover{
  background-color: #14171F;
}

.reputation{
  margin: 80px 30px;

}
.reputation__title{
  margin-top: 43px;
  margin-bottom: 40px;
  text-align: center;
  color: #292E3D;
  font: var(--font-main);
  font-size: 26px;
  
}
.reputation__best{
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  font: var(--font-main);
  margin-left: 30px;
  margin-right: 30px;
}
.reputation__card{
    height: 144px;
    width: 313px;
    font: var(--font-main);
    color: #3D445C;
    font-size: 14.63px;
    padding: 14px 14px 29px 14px;
    gap: 13px;
}
.reputation__card p{
  color: #858EAD;
  font-size: 11.71px;
}
.reputation__best--icon{
  width: 30px;
}
.reputation__best--services{
  border-style: groove;
  border-radius: 2%;
  
}
.reputation__best--teams{
  border-style: groove;
  border-radius: 2%;
}
.reputation__best--designs{
  border-style: groove;
  border-radius: 2%;
}
.aboutus{
  position: relative;
  height: 600px;
  background-color: white;
}
.aboutus__title{
  font: var(--font-main);
}
.aboutus__banner--male{
  height: 489px;
  width: 660px;
  position: absolute;
  left: 15%;
  top: 10%;
}
.aboutus__content{
  position: absolute;
  background-color:var(--primary-color);
  width: 350px;
  height: 370px;
  top:16%;
  left: 51%;
  color: white ;
  font: var(--font-main);
  padding: 29px 36px;
}
.aboutus__content--main{
  width: 250px;
  height: 230px;
}
.aboutus__content__btn{
  padding: 10px 20px;
  color: var(--primary-color);
  font: var(--font-main);
  border-radius: 1%;
  
}
.services{
  background-color: #E0E3EB;
  height: 600px;
}

.services__title{
  text-align: center;
  width: 100%;  
  margin-top: 70px;
  padding-top: 30px;
  font: var(--font-main);
  font-size: 26px;
}
.services__group{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 40px;
}
.services__group--icon{
  margin-left: 90px;
  margin-top: 20px;
}
.services__group--divider{
  margin-left: 80px;
}
.services__group--blue{
  background-color: var(--primary-color);
  width: 198px;
  height: 132px;
  color: white;
  font: var(--font-main);
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  margin-left: 150px;
  padding: 14px;
  gap: 14px;
  display: flex;
  flex-direction: column;
}
.services__group--white{
  background-color: white;
  width: 198px;
  height: 132px;
  color: var(--primary-color);
  font: var(--font-main);
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
  margin-left: 150px;
  padding: 14px;
  gap: 14px;
  display: flex;
  flex-direction: column;
}
.exp{
  background-color: white;
  width: 100%;
  height: 529px;
  margin: auto;
  padding: auto;
  position: relative;
}
.exp__list span{
  color: var(--secondary-color);
  padding-right: 20px;
}
.exp__list h1{
  font-size: 52px;
}
.exp__list p{
  font-size: 17.56px;
}
.exp__list--happyclients{
  position: absolute;
  width: 250px;
  height: 113.92998504638672;
  top: 89.27px;
  left: 374.65px;
  border-radius: 2.93px;
  padding: 21.95px;
  gap: 1.46px;
  border-width: 0.73px;
  font: var(--font-main);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.exp__list--projectcompleted{
  position: absolute;
  width: 250px;
  height: 113.92998504638672;
  top: 161.71px;
  left: 155.13px;
  border-radius: 2.93px;
  padding: 21.95px;
  gap: 1.46px;
  border-width: 0.73px;
  font: var(--font-main);
  box-shadow: 0 6px 60px rgba(0, 0, 0, 0.1);
}
.exp__list--awardswin{
  position: absolute;
  width: 250px;
  height: 113.92998504638672;
  top: 266.35px;
  left: 350.13px;
  border-radius: 2.93px;
  padding: 21.95px;
  gap: 1.46px;
  border-width: 0.73px;
  font: var(--font-main);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.exp__list--yearsinbusiness{
  position: absolute;
  width: 250px;
  height: 113.92998504638672;
  top: 343.18px;
  left: 190.98px;
  border-radius: 2.93px;
  padding: 21.95px;
  gap: 1.46px;
  border-width: 0.73px;
  font: var(--font-main);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#exp__icon--happyclients{
  position: absolute;
  width: 70px;
  height: 70px;
  top: 3%;
  left: 90%;
 

}
#exp__icon--projectcompleted{
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0%;
  left: 0%;


}
#exp__icon--awardswin{
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0%;
  left: 90%;


}
#exp__icon--yearsinbusiness{
  position: absolute;
  width: 70px;
  height: 70px;
  top: 85%;
  left: 90%;
 

}
.exp__content{
  position: absolute;
  width: 262.6918640136719;
  height: 102;
  top: 125.86px;
  left: 60%;
  font: var(--font-main);
  
}
.exp__content h1{
  color: var(--primary-color);
  font-size: 43px;
  width: 262px;
  height: 102px;
}
.exp__content p{
  color: #525B7A;
  font-size: 14.63px;
  width: 241px;
  height: 54px;
}

.exp__content--btn{
  background-color: var(--primary-color);
  color: white;
  width: 128px;
  height: 38px;
  font: var(--font-main);
  border-radius: 1.46px;
  gap: 7.32px;
}
.consultation{
  position: relative
}
  

.consultation__background{
  margin-top: 100px;
  width: 100%;
  height: 219.52px;
  background-image: url(img/f00572a9e4c1d924a7af45ea22ff31a554b4eee0.jpg);
  background-repeat: no-repeat;
  filter: brightness(50%);
  background-size: cover;
  position: relative;
}

.consultation__content{
  color: white;
  font: var(--font-main);
  top: 20%;
  left: 15%;
  position: absolute;
}
.consultation__content h1{
 
  font-size: 26px;
  height: 31px;
  width: 552px;
}
.consultation__content p{
  font-size: 17px;
  height: 21px;
  width: 290px;

}
.consultation__content span{
  text-decoration: underline;
}
.consultation__content button{
  position: absolute;
  left:150%; 
  top: 30%;
  width: 170px;
  height: 38px;
  padding: 11px 14px;
  gap: 7.32px;
  font: var(--font-main);
  font-size: 13px;
  background-color: transparent;
  color: white;
  border-color: white;
  border-width: 4px;
  text-align: center;
}
.projects{
  position: relative;

}
.projects__title{
  margin-top: 64px;
  margin-left: 84px;
  font: var(--font-main);
  font-size: 26.34px;
  color: #292E3D;
}
.projects__menu ul{
  list-style: none;
  
}
.projects__menu li{
  padding: 10px 0px;
  
}
.projects__menu a{
  color: var(--primary-color);
  text-decoration: none;
  font: var(--font-main);
  font-size: 17.56px;
  gap: 11.71px;
  margin-left: 81px;
}
.projects__content{
  height: 550px;
  width: 600px;
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  top: 20%;
  left: 45%;
  gap: 25px;
  
}
.projects__content--img{
  width: 280px;
  height: 180px;
}
.projects__content--wildstone{
  width: 280px;
  height: 242px;
  background-color: var(--primary-color);
  font: var(--font-main);
  color: white;
}

.projects__content--wildstone h1{
  font-size: 14px;
}
.projects__content--wildstone p{
  font-size: 13px;
}
.projects__content--wishstone{
  width: 280px;
  height: 242px;
  background-color: var(--primary-color);
  font: var(--font-main);
  color: white;
}

.projects__content--wishstone h1{
  font-size: 14px;
}
.projects__content--wishstone p{
  font-size: 13px;
}
.projects__content--mrparkinston{
  width: 280px;
  height: 242px;
  background-color: var(--primary-color);
  font: var(--font-main);
  color: white;
}

.projects__content--mrparkinston h1{
  font-size: 14px;
}
.projects__content--mrparkinston p{
  font-size: 13px;
}
.projects__content--oregano{
  width: 280px;
  height: 242px;
  background-color: var(--primary-color);
  font: var(--font-main);
  color: white;
}

.projects__content--oregano h1{
  font-size: 14px;
}
.projects__content--oregano p{
  font-size: 13px;
}
.projects__btn{
  display: flex;
  flex: 1;
  text-align: center;
  justify-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 2px;
  

}
.projects__btn--next{
  background-color: #292E3D;
  color: white;
  font: var(--font-main);
  font-size: 13px;
  height: 46px;
  width: 200px;
 
}
.projects__btn--back{
  background-color: #292E3D;
  color: white;
  font: var(--font-main);
  font-size: 13px;
  height: 46px;
  width: 200px;
}

.formcontact{
  margin-top: 500px;
  text-align: center;
  background-color: #E0E3EB;
  width: 100%;
  min-height: 500px;
  position: relative;
}
.formcontact__title {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-bottom: 30px;
}
.formcontact__title h1{
  font: var(--font-main);
  font-size: 26.34px;
  color: #292E3D;
  font-weight: bold;
}
.formcontact__title p{
  font: var(--font-main);
  font-size: 14.63px;
  color: #292E3D;
  width: 394px;
  
}
.formcontact__content--infor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 550px;
  gap: 20px;
  margin-left: 500px;
}
.formcontact__content--message{
  margin-left: 280px;
  margin-top: 10px;
  width: 433px;
  height: 98px;
}
.formcontact__content--yourname{
  width: 200px;
  height: 29px;
}
.formcontact__content--email{
  width: 204px;
  height: 29px;

}
.formcontact__content--reason{
  width: 209px;
  height: 34.3px;
  margin-left: 25px;
 
}
.formcontact__content--phone{
  width: 204px;
  height: 29px;
  

}
.formcontact__content--submit{
  background-color: var(--primary-color);
  width: 198px;
  height: 38px;
  color: white;
  font: var(--font-main);
  position: absolute;
  top: 429.04px;
  left: 628.06px;
}
.formcontact__content span{
  color: red;
}
.form__content--text {
  position: absolute;
  top: 380px;
  left: 530.25px;
}
.inforcontact{
  position: relative;
  height: 275px;
}
.inforcontact__infor{
  position: absolute;
  top: 62.2px;
  left: 81.95px;
  display: inline-block;
}
.inforcontact__infor h3{
  font: var(--font-main);
  color: var(--primary-color);
  font-size: 14px;
}
.inforcontact__infor span{
  color: #292E3D;
}
.inforcontact__email{
  position: absolute;
  top: 20%;
  left: 70%;
}
.inforcontact__email h3{
  color: var(--primary-color);
   font: var(--font-main);
}
.inforcontact__email--text{
  width: 204px;
  height: 29px;
  padding: 7px 5px;
}
.inforcontact__email--submit{
  width: 99px;
  height: 45px;
  padding: 11px 14px;
  background-color: var(--secondary-color);
  color: white;
  font: var(--font-main);
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}
.inforcontact__social{
  position: absolute;
  top: 60%;
  left: 70%;

}
.inforcontact__social h3{
  color: var(--primary-color);
  font: var(--font-main);
  font-weight: 500;
}

.inforcontact__logo{
  position: absolute;
  justify-items: center;
  display: flex;
  top: 182.93px;
  left: 81.95px;
  gap: 5px;
}
.inforcontact__logo h3{
  color: var(--primary-color);
  font: var(--font-main);
  font-size: 21px;
  font-weight: 700;
}
.inforcontact__logo span{
  font-style: italic;
}
.coppyright{
  width: 100%;
  height: 51px;
  background-color: var(--primary-color);
  position: relative;
}
.coppyright h1{
  color: white;
  font: var(--font-main);
  font-size: 11px;
  width: 261px;
  height: 14px;
  position: absolute;
  top: 19.03px;
  left: 81.95px;
}